@page
@model CoronaTest.Web.Pages.User.ReservationModel
@{
    ViewData["Title"] = "Testtermin";
}

@if (Model.Reservation.ExaminationId == 0)
{
    <h2>Testtermin reservieren</h2>
}
else
{
    <h2>Testtermin ändern</h2>
}

<form method="post">
    <div>
        <label asp-for="Reservation.SelectedCampaignId" class="control-label">1. Kampagne auswählen ...</label>
        <select asp-for="Reservation.SelectedCampaignId" class="form-control" asp-items="@Model.Reservation.Campaigns" onchange="this.form.submit()"></select>
        <span asp-validation-for="Reservation.SelectedCampaignId" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="Reservation.SelectedTestCenterId" class="control-label">2. Untersuchungsort auswählen ...</label>
        <select asp-for="Reservation.SelectedTestCenterId" class="form-control" asp-items="@Model.Reservation.TestCenters" onchange="this.form.submit()"></select>
        <span asp-validation-for="Reservation.SelectedTestCenterId" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="Reservation.SelectedDay" class="control-label">3. Tag auswählen ...</label>
        <select asp-for="Reservation.SelectedDay" class="form-control" asp-items="@Model.Reservation.Days" onchange="this.form.submit()"></select>
        <span asp-validation-for="Reservation.SelectedDay" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="Reservation.SelectedSlot" class="control-label">4. Zeitraum auswählen ...</label>
        <select asp-for="Reservation.SelectedSlot" class="form-control" asp-items="@Model.Reservation.Slots" onchange="this.form.submit()"></select>
        <span asp-validation-for="Reservation.SelectedSlot" class="alert-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <input asp-for="VerificationIdentifier" type="hidden" />
        <button type="submit" asp-page-handler="Save" class="btn btn-primary">Auswählen</button>
        <a type="button" asp-page="/user/Index" asp-route-verificationIdentifier="@Model.VerificationIdentifier" class="btn btn-secondary">Abbruch</a>
    </div>
</form>